.module-completion {
  text-align: center;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.4);
  border-start-start-radius: 2em;
  border-end-end-radius: 2em;
  border: 1em solid var(--color-orange);
}

.module-completion__header {
  h1 {
    margin-bottom: 0.5em;
  }
}

.module-completion__message {
  font-size: 1.25em;
  margin-bottom: 0;
}

.module-completion__unicorn {
  font-size: 3em;
}

.module-completion__actions {
  margin-top: 2em;
  text-align: center;
}
