.module-completion {
  text-align: center;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.4);
  border-start-start-radius: 1em;
  border-end-end-radius: 1em;
}

.module-completion__header {
  margin-bottom: 2rem;

  h1 {
    margin-bottom: 0.5em;
  }
}

.module-completion__message {
  font-size: 1.25em;
  margin-bottom: 0;
}

.module-completion__unicorn {
  font-size: 3em;
}
