.paddle-checkout-form {

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
  }
}

.checkout-benefits {
  flex-basis: 60%;
  margin-bottom: 2em;

  h2 {
    margin-bottom: 0.25em;
  }

  ul {
    text-align: center;
    font-weight: bold;
    list-style-type: none;
    padding: 0;
  }
}

.checkout-price {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  color: var(--color-orange);
  margin-bottom: 0.5em;

  span {
    display: block;
    font-size: 0.333em;
  }
}

.checkout-form-fields {
  flex-basis: 40%;

  .form-item {
    margin-bottom: 1em;
  }

  label {
    display: block;
    margin-bottom: 0.25em;
  }
}

.path-sign-up {

}
