.layout-container header + .region--id- {
  text-align: center;
  display: block;
  width: 100%;
  margin: 0 auto;
  /* border-radius: 5em; */
  overflow: hidden;
  margin-bottom: 1em;

  justify-content: space-between;
  /* background: linear-gradient(to bottom, var(--color-white), var(--color-cream-light)); */
  /* background: linear-gradient(to right, var(--color-gold) 0% 25%, var(--color-orange) 37.5% 62.5%, var(--color-green) 75% 100%); */
  /* background: white; */
  padding-left: 1em;
  padding-right: 1em;

  @media (min-width: 1024px) {
    display: flex;
  }

  nav {
    display: inline-block;

    ul {
      margin: 0;
      li {
        display: inline-block;
        padding: 1px 0;
        /* padding-top: 0.5em; */

        ul {
          display: none;
        }
      }
    }
  }

  button,
  a {
    display: block;
    font-size: 1.25em;
    padding: 0.5em 1em;
    border-radius: 5em;
    background: transparent;
    font-weight: 600;
    color: var(--color-deep-blue);
    /* color: var(--color-white); */

    border-radius: 0;

    &.is-active {
    }
  }

  li:has(.is-active) button,
  li:has(.is-active) a {
    /* background-color: var(--color-white); */
    /* color: var(--color-deep-green); */
    background-color: var(--color-white);
    color: var(--color-deep-blue);
    /* background-color: var(--color-gold); */
    border-start-start-radius: 0.5em;
    border-end-end-radius: 0.5em;
    font-weight: 900;
    outline: 2px solid var(--color-cream);
    outline-offset: -2px;
  }

}

#block-tbring-footer {
  padding-left: 1em;
  padding-right: 1em;
  ul {
    li {
      display: inline-block;
      margin: 0 0.5em;
    }
  }
}
