.layout-container header + .region--id- {
  text-align: center;
  display: block;
  width: 100%;
  margin: 0 auto;
  /* border-radius: 5em; */
  overflow: hidden;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;

  nav {
    display: inline-block;

    ul {
      margin: 0;
      li {
        display: inline-block;
        padding: 0.25em;

        ul {
          display: none;
        }
      }
    }
  }

  button,
  a {
    display: block;
    font-size: 1.25em;
    padding: 0.25em 1em;
    border-radius: 5em;
    background: transparent;
    font-weight: 600;
    color: var(--color-deep-blue);

    &.is-active {
    }
  }

  li:has(.is-active) button,
  li:has(.is-active) a {
    /* background-color: var(--color-white); */
    /* color: var(--color-deep-green); */
    background-color: var(--color-white);
  }
}
