@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=favorite,home,search,settings");

@font-face {
  font-family: "FitVariable";
  src: url("../fonts/FitVariable-VF.woff2") format("woff2");
  font-feature-settings: "ss04";
  font-style: normal;
}

@font-face {
  font-family: "Banter Grotesk";
  src: url("../fonts/BanterGrotesk-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Banter Grotesk";
  src: url("../fonts/BanterGrotesk-RegularItalic.woff2") format("woff2");
  font-style: italic;
}

@font-face {
  font-family: "Banter Grotesk";
  src: url("../fonts/BanterGrotesk-Black.woff2") format("woff2");
  font-weight: 900;
}

@font-face {
  font-family: "Banter Grotesk";
  src: url("../fonts/BanterGrotesk-Semibold.woff2") format("woff2");
  font-weight: 600;
}

:root {
  --color-cream: #ffecb4;
  --color-cream-2: rgba(255, 242, 202, 1);
  --color-cream-light: hsl(44, 100%, 96%);
  --color-cream-dark: #ffe3a6;
  --color-deep-green: rgb(26, 60, 52);
  --color-deep-blue: #0f3d59;
  --color-deep-green: var(--color-deep-blue);
  --color-green: #a3a748;
  --color-gold: #f4a127;
  --color-orange: #e5771e;
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-green-light: rgb(199, 195, 126);
  --color-green-light: rgba(163, 167, 72, 0.1);
  --color-green-dark: #62642b;
  --color-green-dark: #53642b;
  --color-green-dark: #607a22;
  --color-gold-light: rgba(244, 161, 39, 0.1);
  --color-gray-medium: #666;
  --color-gray-medium-light: #ccc;
  --color-gray-light: rgb(240, 240, 240);
  --color-pink: rgb(242, 163, 155);
  --color-pink-light: rgba(242, 163, 155, 0.1);

  --color-indicator-green: rgb(107, 167, 72);
  --color-indicator-green: var(--color-green);
  --color-indicator-orange: rgba(229, 119, 30, 1);
  --color-indicator-orange: var(--color-gold);
  --color-indicator-red: rgb(200, 39, 34);
  --color-indicator-red: var(--color-pink);
  --color-indicator-yellow: rgb(207, 187, 5);
}

html {
  background-color: var(--color-white);
}

body {
  background-color: var(--color-cream-light);
  color: rgba(26, 60, 52, 1);
  font-family: "Banter Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* background: linear-gradient(to bottom, var(--color-cream-light), var(--color-cream-2)); */
  /* background-size: 100% 100%; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-attachment: fixed; */
}

xxxsection {
  margin: 0;
  overflow: hidden;

  &.logo {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;

    .inner {
      transform: scaleX(1.015);
    }
  }

  &.content {
    display: flex;
    font-family: "Banter Grotesk", sans-serif;
    padding-top: 3em;
    padding-bottom: 3em;
    font-weight: normal;

    .inner {
      max-width: 32ch;
      margin: 0 auto;
      padding: 0 1em;
      box-sizing: border-box;
    }
  }
}

.front h1 {
  /* font-family: "FitVariable", sans-serif; */
  /* font-size: 47.33333svh; */
  /* font-size: 43.9svh; */
  margin: 0;
  font-weight: normal;
  display: inline;
  text-align: center;

  .l1 {
    color: var(--color-gold);
    display: inline-block;
    text-box-trim: trim-both;
    text-box-edge: ex alphabetic;
    margin-bottom: 0.7svh;
    /* margin-bottom: -3svh; */
  }
  .l2 {
    color: var(--color-orange);
    display: inline-block;
    text-box-trim: trim-both;
    text-box-edge: ex alphabetic;
    margin-bottom: 0.7svh;
    /* margin-bottom: -3svh; */
  }
  .l3 {
    color: var(--color-green);
    display: inline-block;
    text-box-trim: trim-both;
    text-box-edge: ex alphabetic;
  }
}

h2 {
  font-size: 1.875em;
  line-height: 1.1;
  margin: 0;
  font-weight: bold;
  font-feature-settings: normal;
  text-wrap: balance;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-orange);
  text-underline-offset: 0.25em;
}

.content {
  font-size: 1.5rem;
  font-feature-settings: "ss06";
  font-variant-numeric: oldstyle-nums;
}

@media (min-width: 1024px) {
  .content {
    font-size: 2rem;
  }
}

.reverse {
  background-color: var(--color-deep-green);
  color: var(--color-white);

  h2,
  h3 {
    color: var(--color-cream);
    color: var(--color-green);
  }
}
.content p {
  line-height: 1.1;
}

.inner {
  max-width: 60em;
  margin: 0 auto;
  padding: 0 1em;
  box-sizing: border-box;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

fieldset + fieldset {
  margin-top: 1em;
}

legend {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

textarea {
  border: 2px solid var(--color-deep-green);
  font-size: 1.25em;
  color: var(--color-deep-green);
  width: 100%;
  border-start-start-radius: 0.5em;
  border-end-end-radius: 0.5em;
  padding: 0.5em;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="password"],
input[type="date"] {
  border: 2px solid var(--color-deep-green);
  font-size: 1.25em;
  color: var(--color-deep-green);
  width: 100%;
  border-start-start-radius: 0.5em;
  border-end-end-radius: 0.5em;
  padding: 0.5em;
}

.webform-type-range-slider > label,
.webform-type-webform-likert > label,
.webform-type-textarea > label {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.webform-likert-table td {
  padding: 0.25em 0.5em;
  vertical-align: top;
}

.webform-likert-table tr:nth-child(even) {
  background-color: var(--color-gold-light);
}

button,
input[type="submit"],
.button {
  background-color: var(--color-deep-green);
  color: var(--color-white);
  font-family: "Banter Grotesk", sans-serif;
  border: none;
  padding: 0.5em 1.5em;
  font-size: 1.25em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2em;
  transition: all 0.2s ease;
}

button:hover,
input[type="submit"]:hover,
.button:hover {
  background-color: var(--color-green);
}

button:focus,
input[type="submit"]:focus,
.button:focus {
  outline: 2px solid var(--color-gold);
  outline-offset: 2px;
}

/* Custom checkbox styles */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 1.5em;
  height: 1.5em;
  border: 2px solid var(--color-deep-green);
  border-radius: 0.25em;
  background-color: var(--color-white);
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  margin-right: 0.5em;
  transition: all 0.2s ease;
}

input[type="checkbox"]:hover {
  border-color: var(--color-green);
}

input[type="checkbox"]:focus {
  outline: 2px solid var(--color-gold);
  outline-offset: 2px;
}

input[type="checkbox"]:checked {
  background-color: var(--color-deep-green);
  border-color: var(--color-deep-green);
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 0.4em;
  top: 0.1em;
  width: 0.35em;
  height: 0.7em;
  border: solid var(--color-white);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Custom radio button styles */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 1.5em;
  height: 1.5em;
  border: 2px solid var(--color-deep-green);
  border-radius: 50%;
  background-color: var(--color-white);
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  margin-right: 0.5em;
  transition: all 0.2s ease;
}

input[type="radio"]:hover {
  border-color: var(--color-green);
}

input[type="radio"]:focus {
  outline: 2px solid var(--color-gold);
  outline-offset: 2px;
}

input[type="radio"]:checked {
  border-color: var(--color-deep-green);
}

input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  background-color: var(--color-deep-green);
}

/* Label styling for form elements */
label {
  cursor: pointer;
  margin-bottom: 0.75em;
  line-height: 1.5;
}

.webform-progress-tracker {
  margin: 0;
  margin-bottom: 1em;

  .progress-step:last-child {
    display: none;
  }
}

.progress-marker:before {
  content: "";
  width: 100%;
  border-radius: 0;
  height: 1.75em;
}

.progress-step .progress-marker::before {
  background-color: var(--color-cream);
}

.progress-step.is-active .progress-marker:before {
  border-start-end-radius: 1em;
  border-end-end-radius: 1em;
}

.progress-step:first-child {
  .progress-marker:before {
    border-start-start-radius: 1em;
    border-end-start-radius: 1em;
  }
}

.progress-step:nth-last-child(2) {
  .progress-marker:before {
    border-start-end-radius: 1em;
    border-end-end-radius: 1em;
  }
}

.progress-marker:after {
  background-color: var(--color-cream);
  display: none;
}

.webform-progress-tracker .progress-step .progress-marker::after {
  background-color: var(--color-cream);
  background-color: transparent;
  height: 3px;
}

.progress-step.is-active .progress-marker::before {
  background-color: var(--color-orange);
  /* background:linear-gradient(to right, var(--color-gold), var(--color-orange)); */
}

.webform-progress-tracker .progress-step.is-complete .progress-marker::before {
  background-color: var(--color-gold);
  background-color: var(--color-orange);
}

.webform-progress-tracker.progress-step:not(.is-active) .progress-marker::before,
.webform-progress-tracker .progress-step:hover .progress-marker::before,
.webform-progress-tracker .progress-step .progress-marker::after {
  background-color: var(--color-cream);
}

.webform-progress-tracker
  .progress-step.is-complete:hover
  .progress-marker::before,
.webform-progress-tracker .progress-step.is-complete .progress-marker::after {
  background-color: var(--color-gold);
}

.webform-progress-tracker .progress-step.is-complete .progress-marker::after {
  height: 9px;
  margin-top: -3px;
  background: linear-gradient(to right, var(--color-gold), var(--color-orange));
}

.webform-progress-tracker
  .progress-step.is-complete:has(+ .progress-step.is-complete)
  .progress-marker::after {
  background: none;
  background-color: var(--color-gold);
}

.field--name-field-intro {
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-top: 0;
  text-align: center;
  text-wrap: balance;
}

.field--name-field-duration {
  text-align: center;
  margin-bottom: 3em;

  > div {
    display: inline;
  }
}

.module-title {
  font-size: 2.5em;
  margin-bottom: 0.25em;
}
.module-description {
}

.module-duration {
  margin-top: 0.5em;
}

.range {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--color-gray-medium);
  margin-bottom: -0.75em;
  margin-top: 0.75em;
}

.rangeslider__handle,
.rangeslider [data-thumb] {
  background-color: var(--color-deep-green);
}
.rangeslider__fill,
.rangeslider [data-track-fill] {
  background: linear-gradient(
    to right,
    var(--color-green),
    var(--color-deep-green)
  );
  height: 9px;
}
.rangeslider__track,
.rangeslider [data-track] {
  background-color: var(--color-gray-light);
  height: 9px;
}

header {
  margin-bottom: 0.1em;
  background: white;
}

footer {
  margin-top: 3em;
  padding-top: 1em;
  color: var(--color-deep-green);
  text-align: center;
  font-weight: 600;

  &::after {
    content: "";
    display: block;
    background: linear-gradient(to right, var(--color-gold) 0% 25%, var(--color-orange) 37.5% 62.5%, var(--color-green) 75% 100%);
    height: 12px;
    margin-top: 1em;
  }
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100svh;

  main {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.path-sign-up .inner {
  /* max-width: 100%; */
}

#block-tbring-page-title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  h1 {
    font-size: 3rem;
    font-weight: bold;
    /* background: linear-gradient(to right, var(--color-gold) 0% 25%, var(--color-orange) 37.5% 62.5%, var(--color-green) 75% 100%); */
    /* -webkit-background-clip: text; */
    /* background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    /* color: transparent; */
    color: var(--color-deep-blue);
    line-height: 1.2;
    text-align: center;

    &::before {
      content: "";
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 3em;
      height: 3em;
      background: var(--random-icon, url("../images/icon-00.svg")) no-repeat center center;
      background-size: cover;
      margin-bottom: -0.25em;
    }
  }
}

.webform-submission-data {
  .webform-element {
    font-size: 1.25em;
    padding: 1em;
    border-end-end-radius: 1em;
    background-color: var(--color-white);
    color: var(--color-deep-green);
    margin-bottom: 1em;
  }
  .webform-element label {
    font-weight: bold;
    display: block;
  }

  details {
    margin-bottom: 1em;
  }

  details summary {
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 0.5em 1em;
    border-radius: 1em;
    /* display: inline-block; */
  }

  details[open] {
    summary {
      border-radius: 1em 0 0 0;
    }
  }
}

#block-tbring-page-title {
  margin-bottom: 2.5em;
}

/* Report-specific icons for page titles */
.path-analysis-industry-insights #block-tbring-page-title h1::before {
  background-image: url("../images/icon-02.svg");
}

.path-analysis-role-impact #block-tbring-page-title h1::before {
  background-image: url("../images/icon-01.svg");
}

.path-analysis-skills #block-tbring-page-title h1::before {
  background-image: url("../images/icon-03.svg");
}

.path-analysis-task-recommendations #block-tbring-page-title h1::before {
  background-image: url("../images/icon-04.svg");
}

.path-analysis-career-transitions #block-tbring-page-title h1::before {
  background-image: url("../images/icon-06.svg");
}

.path-analysis-learning-resources #block-tbring-page-title h1::before {
  background-image: url("../images/icon-05.svg");
}

.path-analysis-breakthrough-strategies #block-tbring-page-title h1::before {
  background-image: url("../images/icon-09.svg");
}

.path-analysis-concerns-navigator #block-tbring-page-title h1::before {
  background-image: url("../images/icon-07.svg");
}

.path-analysis-summary #block-tbring-page-title h1::before {
  background-image: url("../images/icon-08.svg");
}

#block-tbring-logo {
  font-family: "FitVariable", sans-serif;
  font-size: 3.5em;
  font-weight: normal;
  overflow: hidden;
  width: 100%;
  /* margin-top: 0.5em; */

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 18px;
    background: linear-gradient(to right, var(--color-gold) 0% 25%, var(--color-orange) 37.5% 62.5%, var(--color-green) 75% 100%);
    margin-top: 2px;
  }

  h1 {
    margin: 0;
    font-weight: normal;
    text-box-trim: trim-both;
    text-box-edge: ex alphabetic;
    white-space: nowrap;
    flex-wrap: nowrap;
    text-align: center;
    min-width: 100%;
  }

  h1 > a {
    display: flex;
    text-box-trim: trim-both;
    text-box-edge: ex alphabetic;
    padding-left: 1px;
    padding-right: 1px;
  }

  h1 > a > div {
    position: relative;
    flex-basis: 33.3333%;
    flex-grow: 1;
    text-box-trim: trim-both;
    text-box-edge: ex alphabetic;
  }

  .l1 {
    color: var(--color-gold);
    display: inline-block;
    text-box-trim: trim-both;
    text-box-edge: ex alphabetic;
    font-variation-settings: "wdth" 400;
    text-align: right;
  }
  .l2 {
    color: var(--color-orange);
    display: inline-block;
    text-box-trim: trim-both;
    text-box-edge: ex alphabetic;
    font-variation-settings: "wdth" 90;
  }
  .l3 {
    color: var(--color-green);
    display: inline-block;
    text-box-trim: trim-both;
    text-box-edge: ex alphabetic;
    font-variation-settings: "wdth" 140;
  }

  .li { font-variation-settings: "wdth" 906; }
  .l2 { font-variation-settings: "wdth" 137; }
  .l3 { font-variation-settings: "wdth" 216; }


  h1 {
    width: 100%;
    overflow: hidden;
    text-indent: 3000px;
    white-space: nowrap;
    background: white url("../images/tbring-01.png") no-repeat center center;
    background-size: 100% 100%;
    margin-top: -1px;
  }
  @media (min-width: 460px) {
    h1 {
      background-image: url("../images/tbring-02.png");
    }
  }
  @media (min-width: 680px) {
    h1 {
      background-image: url("../images/tbring-03.png");
    }
  }
  @media (min-width: 960px) {
    h1 {
      background-image: url("../images/tbring-04.png");
    }
  }
  @media (min-width: 1400px) {
    h1 {
      background-image: url("../images/tbring-05.png");
    }
  }
  @media (min-width: 1800px) {
    h1 {
      background-image: url("../images/tbring-06.png");
    }
  }
  @media (min-width: 2400px) {
    h1 {
      background-image: url("../images/tbring-07.png");
    }
  }

}

.webform-submission-form > .form-wrapper {
  background-color: var(--color-white);
  padding: 1.5em 1.5em;
  border-start-start-radius: 1em;
  border-end-end-radius: 1em;
}
.webform-submission-form > .form-wrapper.form-actions {
  background-color: transparent;
  text-align: center;
}

.webform-element-description {
  color: #666;
  margin-bottom: 1em;
}

legend + .fieldset-wrapper:has(.description) {
  margin-top: -0.5em;
}

.button--next,
input[type="submit"].webform-button--next {
  padding-right: 2.5em;
  background-image: url("../images/arrow_forward_16dp_FFFFFF_FILL0_wght400_GRAD0_opsz20.svg");
  background-repeat: no-repeat;
  background-position: right 0.75em center;
  background-size: 1.5em 1.5em;
  appearance: none;

  &:hover {
    background-position: right 0.625em center;
  }
}

.button--return,
input[type="submit"].webform-button--previous {
  padding-left: 2.5em;
  background-image: url("../images/arrow_back_16dp_FFFFFF_FILL0_wght400_GRAD0_opsz20.svg");
  background-repeat: no-repeat;
  background-position: left 0.75em center;
  background-size: 1.5em 1.5em;

  &:hover {
    background-position: left 0.625em center;
  }
}

h2 {
  color: var(--color-deep-green);
  font-weight: 900;
  text-align: center;
  margin-bottom: 0.75em;
}
h3 {
  color: var(--color-deep-green);
  font-size: 1.5em;
  text-align: center;
  font-weight: 900;
  margin-bottom: 0.5em;
}
h4 {
  font-size: 1.125em;
  color: var(--color-deep-green);
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.25em;

  span {
    color: var(--color-orange);
  }
}
h5 {
  font-size: 1em;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.25em;
  color: var(--color-deep-green);
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

p {
  margin-bottom: 0.5em;
}


.module-completion__header {
  background-color: var(--color-white);
  padding: 2em 3em;
  border-start-start-radius: 1em;
  border-end-end-radius: 1em;
}

.module-completion {
  text-align: center;
}

